r(num)
  (num / 75)rem

* {
  margin: 0;
  padding: 0;
}

header {
  height: r(550);
  width 100%;
  img {
    display block;
    height: r(550)
    width: 100%;
  }
}

.gap {
  height: r(22)
  background-color #e6e6e6
}

.app-entry {
  h3 {
    padding-top r(20)
    padding-bottom r(40)
    line-height r(52);
    font-size: r(32);
    font-weight bold
    color #333
    text-align center
  }
  nav {
    display flex;
    flex-wrap wrap;
    .item {
      width 33.33%;
      padding-bottom r(30)
      img {
        display block
        margin: 0 auto;
        width r(64)
        height r(64)
      }
      span {
        display block
        line-height 1.5
        padding: r(10) 0
        text-align center;
        font-size r(30)
        color #333
      }
    }
  }
}

.rent-btn-box {
  width 100%;
  padding: 0 r(40)
  box-sizing border-box
  .btn {
    height r(88)
    line-height r(88)
    text-align center
    color #fff;
    background-color #a79069
    font-size r(30)
    border-radius r(8)
  }
}
